@import url("https://use.typekit.net/ell8vxy.css");

html {
  scroll-behavior: smooth;
}
body {
      background: #eee;
}

.page-section{
  background: #5C87C5;
  margin-right: 10%;
  margin-left: 10%;
}
.page-section p{

  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
}

#artist-bio-h
{
  color: #5C87C5;
  font-size: 4em;
}
.page-section h2.section-heading {
  font-size: 2em;
  padding-left: 10px;
  padding-right: 10px;
}

#artist-portfolio-bio
{
    color: #222;
  font-variant: small-caps;
  font-family: 'omnes-pro', sans-serif;
font-weight: 700;
font-style: normal;
font-size: 1em;
}

#artist-portfolio-bio:hover
{
  color: #ddd;
  font-style: italic;
  text-decoration: none;
}

#artist-bio-name
{
  color: #222;
font-variant: small-caps;
font-family: 'omnes-pro', sans-serif;
font-weight: 700;
font-style: normal;
/* font-size: 1em; */
}


@media only screen and (max-width: 600px) {
  .page-section p{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;

  }
  .page-section{
    padding-top:0px;
    padding-bottom:0px;
    margin: 0;
  }
  .page-section:first-of-type{
    padding-top: 100px;
  }

}
